
<h1>Trip</h1>

<!-- form_with(model: @trip, local: true, class: 'form') -->
<div class="ui form">

    <%= form_for @trip do |t| %>
      <%= t.label :name %>
      <%= t.text_field :name, required: true %>
      <br><br>

      <%= t.label :start_date %>
      <%= t.text_field :start_date, required: true %>
      <br><br>

      <%= t.label :end_date %>
      <%= t.text_field :end_date, required: true %>
      <br><br>

      <%= t.submit %>
      <br><br>

</div>
<% end %>


