<h1>Trip</h1>

<br>
<div class="ui raised very padded text container segment">
<h2 class='ui header'><%= @trip.name %></h2>
<ul>
  <li>
    Start Date: <%=@trip.start_date %>
  </li>
  <li>
    End Date: <%=@trip.end_date %>
  </li>
</ul>
<br>
<%= link_to 'Location', trip_locations_path %>

</div>

<div class="ui animated button" tabindex="0">
  <div class="visible content"><%= link_to 'Delete Trip', @trip, method: :delete %></div>
  <div class="hidden content">
    <i class="trash alternate icon"></i>
  </div>

</div>


