

<h1>
  Locations
</h1>
<br>
<% if @locations == [] %>
<%= link_to "Add New Location", new_trip_location_path(@trip) %>
<% else %>
<div class="ui raised very padded text container segment">
<div class="ui list">
  <table class="table">
  <thead>
  <tr class="">
  <th>State</th>
  <th>Start Date</th>
  <th>Days</th>
  <th>Show</th>
  <th>Edit</th>
  <th>Delete</th>
  </tr>
</thead>
  <% @locations.each do |location| %>
  <tr>
    <td class="item"><%= location.name %></td>
  <td class="item"><%= @trip.start_date.strftime("%m-%d-%y") %></td>
  <td class="item"><%= location.days %></td>
  <td><%= link_to "Address", location_addresses_path(location.id)%></td>
  <td><%= link_to "Edit ", edit_trip_location_path(@trip, location.id)%></td>
  <td><%= link_to "Delete", trip_location_path(@trip, location.id), method: :delete %></td>
  <% end %>
  </tr>
  </table>
</div>
</div>

<%= link_to "Add New Location", new_trip_location_path(@trip) %>
<% end %>

