<h1>Location</h1>

<!-- form_with(model: @location, local: true, class: 'form') -->
<div class="ui form">

    <%= form_for [@trip, @location] do |l| %>
      <%= l.label :name %>
      <%= l.text_field :name, required: true %>
      <br><br>

      <%= l.label :days %>
      <%= l.text_field :days, required: true %>
      <br><br>

      <%= l.submit %>
      <br><br>

</div>
<% end %>



