<h1>Location</h1>

<br>
<div class="ui raised very padded text container segment">
<h2 class='ui header'><%= @location.name %></h2>
<p>Length: <%=@location.days %></p>
<br>
<% if @location.addresses == [] %>
<%= link_to 'Add New Address', new_location_address_path(@location) %>
<br>
<% else %>
<%= link_to 'Show: Address', location_addresses_path(@location) %>
<% end %>


</div>
<div class="ui animated button" tabindex="0">
  <div class="visible content"><%= link_to 'Delete Location', [@trip, @location], method: :delete %></div>
  <div class="hidden content">
    <i class="trash alternate icon"></i>
  </div>
</div>
<div class="ui animated button" tabindex="0">
  <div class="visible content"><%= link_to 'Add Location', trip_locations_path(@trip, @location)%></div>
  <div class="hidden content">
    <i class="trash alternate icon"></i>
  </div>
</div>

<%= link_to "Back", trip_location_path(@trip, @location)%>
